<%- include('partials/header'); %> <%- include('partials/navbar'); %>

<div>
  <form action="/" method="post">
    <h1>Type in the bpx to fetch your current weather</h1>
    <input type="text" name="location" id="location" />
    <button type="submit">Fetech Data</button>
  </form>
</div>
<%- include('partials/footer'); %>
